body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  position: absolute;
  left: 0;
  padding: 10px;
}

.item{
	width: 40px;
	height: 40px;
	background-size: 100%;
}

#pacman{
	background-image: url("pacman.gif");
}

.fruit{
	background-image: url("fruit.gif");
}

button{
	background-color: white;
}